extends layout
block content
  .row
    .col-xs-12
      .box
        .box-header
          h3.box-title Danh sách bàn
          span.pull-right
            a( href="#" data-toggle="modal" data-target="#table-create-modal") Thêm bàn
        // /.box-header
        .box-body
          table#table-menu.table.table-bordered.table-striped
            thead
              tr
                th STT
                th Tên bàn
                th Thao tác
            tbody
              - index = 1
              each table in tables
                tr
                  td=index++
                  td=table.title
                  td
                    a(data-toggle="tooltip" title="Remove" data-id=table.id).table-delete
                      i.fa.fa-trash(data-id=table.id)
        // /.box-body
      // /.box
    // /.col

  .modal#table-create-modal
    .modal-dialog
      .modal-content
        form#table-create-form
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h3.modal-title Thêm món ăn
          .modal-body
            .row
              .col-sm-6
                .form-group
                  label Tên bàn
                  input.form-control(type="text", name="title")

          .modal-footer
            button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
            button.btn.btn-success(type="submit") Thêm bàn

  script(src="/js/table.js")
